<div class="form-group input {{ inputType }}">
  <label for="{{ id }}">{{ label }}:</label>
  <input type="{{ inputType }}" id="{{ id }}" class="form-control" aria-label="{{ label }}"
    {{{ifattr 'disabled' disabled }}}
    {{{ifattr 'readonly' readonly }}} />
</div>
