<div class="dso-card-container{{#if interactionsOri}} dso-card-interactions-{{interactionsOri}}{{/if}}">
  {{#each cards}}
    <div class="dso-card-holder">
      <a href="#" class="dso-card">
        <div class="dso-card-content">
          <h2>{{ label }}</h2>
          <p>{{{ content }}}</p>
        </div>
      </a>
      {{#if (or toggle link)}}
        <div class="dso-card-interactions">
          {{#if toggle}}
            <div class="dso-card-interaction">
              <input type="checkbox" id="{{ id }}" name="{{ id }}" value="{{ value }}" />
              <label class="sr-only" for="{{ id }}">
                {{ label }} geselecteerd
              </label>
            </div>
          {{/if}}
          {{#if info}}
            <div class="dso-card-interaction">
              {{> '@info-button' }}
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  {{/each}}
</div>
