<button type="{{ type }}" class="btn btn-list-button{{#if modifier }} list-button-{{ modifier }}{{/if}}" {{{ifattr 'disabled' disabled }}}>
  <span>{{ label }}</span>
  {{#if icon }}{{> '@icon' icon='check' }} <span class="sr-only">geselecteerd</span>{{/if}}
  {{#if counter }}<span class="counter">{{ counter }}</span> <span class="sr-only">geselecteed</span>{{/if}}
</button>
