<button type="{{ type }}"{{#if iconOnly }} title="{{ label }}"{{/if}} class="btn btn-{{ modifier }}" {{{ifattr 'disabled' disabled }}}>
  {{#if icon }}{{> '@icon' icon=icon }}{{/if}}<span{{#if iconOnly }} class="sr-only"{{/if}}>{{ label }}</span>{{#if iconAfter }}{{> '@icon' icon=iconAfter }}{{/if}}
</button>
