<div class="dso-rich-content">
  <p>
    {{{ text-before }}}
    <span class="dso-description-term{{#unless description-hidden}} dso-is-open{{/unless}}">
      {{ term }}
    </span>
    <span class="dso-description-content" aria-hidden="{{ description-hidden }}">
      <button type="button">
        <span class="sr-only">Sluiten</span>
      </button>
      {{{ content }}}
    </span>
    {{{ text-after }}}
  </p>
</div>
