<nav aria-label="Page navigation">
  <ul class="pagination">
    {{#if (ne current 1) }}
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">Vorige</span>
        </a>
      </li>
      <li>
        <a href="#">1</a>
      </li>
    {{/if}}
    {{#if (and (gt current 3) (gte count 5)) }}
      {{#if (eq count 5)}}
        <li>
          <a href="#">2</a>
        </li>
      {{/if}}
    {{/if}}
    {{#if (or (ne current count) (gte count 4))}}
      {{#if (and (eq current count) (ne current 1)) }}
        <li>
          <a href="#" class="minTwee">{{subtract current 2 }}</a>
        </li>
      {{/if}}
    {{/if}}
    {{#if (and (gte current 3) (or (and (gte current 3) (lte count 5)) (and (gt count 5) (ne current (subtract count 2 )) ) )) }}
      <li {{#if (and (gte current 4) (lt current (subtract count 2))) }}class="previous" {{/if}}>
        <a href="#" class="minEen">{{subtract current 1 }}</a>
      </li>
    {{/if}}
    <li class="active">
      <span>{{ current }}</span>
    </li>
    {{#if (and (lte current (subtract count 2 )) (or (and (lte current 3) (lte count 5)) (and (ne current 3) (gt count 5)) ) ) }}
      <li {{#if (and (gte current 4) (lt current (subtract count 2))) }}class="next" {{/if}}>
        <a href="#">{{add current 1 }}</a>
      </li>
    {{/if}}
    {{#if (and (eq current 1) (gt count (add current 2))) }}
      <li>
        <a href="#">{{add current 2 }}</a>
      </li>
    {{/if}}
    {{#if (and (lte current (subtract count 3)) (gte count 5) ) }}
      {{#if (eq count 5)}}
        <li>
          <a href="#">{{ subtract count 1 }}</a>
        </li>
      {{/if}}
    {{/if}}
    {{#if (ne current count)}}
      <li>
        <a href="#">{{ count }}</a>
      </li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">Volgende</span>
        </a>
      </li>
    {{/if}}
  </ul>
</nav>
