<div class="form-group dso-select{{#if multiple }} dso-multiple{{/if}}{{#if state}} dso-{{ state }}{{/if}}{{#if required }} dso-required{{/if}}">
  <div class="dso-label-container">
    <label for="{{ id }}" class="control-label">
      {{ label }}
    </label>
  </div>
  <div class="dso-field-container">
    <select id="{{ id }}" class="form-control"
      {{{ifattr 'disabled' disabled }}}
      {{{ifattr 'readonly' readonly }}}
      {{{ifattr 'multiple' multiple }}}
      {{{ifattr 'required' required }}}>
      {{#each options }}
        <optgroup label="{{ optionType }}"{{{ifattr ' disabled' disabled }}}>
          {{#each items }}
            <option value="{{ value }}"{{{ifattr ' selected' selected }}}>{{ label }}</option>
          {{/each}}
        </optgroup>
      {{/each}}
    </select>
    {{#if errorText }}
      {{> '@error-block' }}
    {{/if}}
    {{#if helpText }}
      {{> '@help-block' }}
    {{/if}}
  </div>
</div>
