<fieldset class="form-group dso-checkboxes{{#if state}} dso-{{ state }}{{/if}}{{#if required }} dso-required{{/if}}">
  <div class="dso-label-container">
    <legend class="control-label">
      {{ label }}
    </legend>
  </div>
  <div class="dso-field-container">
    {{#each options }}
      <div class="dso-selectable">
        <input type="checkbox" id="{{ ../id }}-{{ @index }}" name="{{ ../id }}" value="{{ value }}"
          {{{ifattr 'disabled' disabled }}}
          {{{ifattr 'checked' checked }}}
          {{{ifattr 'required' required }}} />
        <label for="{{ ../id }}-{{ @index }}">{{ label }}</label>
      </div>
    {{/each}}
    {{#if errorText }}
      {{> '@error-block' }}
    {{/if}}
    {{#if helpText }}
      {{> '@help-block' }}
    {{/if}}
  </div>
</fieldset>
