<fieldset class="form-group dso-checkboxes{{#if state}} dso-{{ state }}{{/if}}{{#if required }} dso-required{{/if}}">
  <legend class="dso-label-container">
    <label class="control-label">
      {{ label }}
    </label>
    {{#if infoText }}
      {{> '@info-button' }}
    {{/if}}
  </legend>
  <div class="dso-field-container">
    {{#each options }}
      <div class="dso-selectable">
        <input type="checkbox" id="{{ ../id }}-{{ @index }}" name="{{ ../id }}" value="{{ value }}"
          {{{ifattr 'disabled' disabled }}}
          {{{ifattr 'checked' checked }}}
          {{{ifattr 'required' required }}} />
        <label for="{{ ../id }}-{{ @index }}">
          {{ label }}
        </label>
        {{#if infoText }}
          {{> '@info-button' }}
        {{/if}}
        {{#if infoOpen }}
          {{> '@info' }}
        {{/if}}
      </div>
    {{/each}}
    {{#if errorText }}
      {{> '@error-block' }}
    {{/if}}
    {{#if helpText }}
      {{> '@help-block' }}
    {{/if}}
  </div>
  {{#if infoOpen }}
    {{> '@info' }}
  {{/if}}
</fieldset>
