<div class="form-group dso-confirm{{#if state}} dso-{{ state }}{{/if}}{{#if required }} dso-required{{/if}}">
  <div class="dso-field-container">
    <div class="dso-selectable">
      <input type="checkbox" id="{{ id }}" name="{{ ../id }}" value="{{ value }}"
        {{{ifattr 'disabled' disabled }}}
        {{{ifattr 'readonly' readonly }}}
        {{{ifattr 'checked' checked }}}
        {{{ifattr 'required' required }}} />
      <label for="{{ id }}">{{ label }}</label>
    </div>
    {{#if errorText }}
      {{> '@error-block' }}
    {{/if}}
    {{#if helpText }}
      {{> '@help-block' }}
    {{/if}}
  </div>
</div>
