<div class="form-group input {{ inputType }}">
  <label for="{{ id }}" class="control-label">{{ label }}</label>
  <div class="field-container">
    <input type="{{ inputType }}" id="{{ id }}" class="form-control"
      {{{ifattr 'aria-describedby' helpText (helpTextId id)}}}
      {{{ifattr 'size' size }}}
      {{{ifattr 'disabled' disabled }}}
      {{{ifattr 'readonly' readonly }}} />
    {{#if helpText }}
      {{> '@help-block' }}
    {{/if}}
  </div>
</div>
