<div class="form-group input {{ inputType }}{{#if inputIcon }} has-feedback{{/if}}">
  <label for="{{ id }}" class="control-label">
    {{ label }}
    {{#unless required }}
      <span class="optional">optioneel</span>
    {{/unless}}
  </label>
  <div class="field-container">
    {{#if helpIcon }}
      <button class="input-help"></button>
    {{/if}}
    <input type="{{ inputType }}" id="{{ id }}" class="form-control{{ inputModifiers }}"
      {{{ifattr 'aria-describedby' helpText (helpTextId id)}}}
      {{{ifattr 'size' size }}}
      {{{ifattr 'disabled' disabled }}}
      {{{ifattr 'readonly' readonly }}}
      {{{ifattr 'required' required }}} />
    {{#if inputIcon }}
      <span class="{{ inputIcon }} form-control-feedback" aria-hidden="true"></span>
    {{/if}}
    {{#if errorText }}
      <i class="error-text">{{ errorText }}</i>
    {{/if}}
    {{#if helpText }}
      {{> '@help-block' }}
    {{/if}}
  </div>
</div>
