<div class="form-group textarea">
  <label for="{{ id }}" class="control-label">
    {{ label }}
    {{#unless required }}
      <span class="optional">optioneel</span>
    {{/unless}}
  </label>
  <div class="field-container">
    {{#if helpIcon }}
      <button class="input-help"></button>
    {{/if}}
    <textarea class="form-control{{ inputModifiers }}" id="{{ id }}" {{{ifattr 'rows' rows }}}
      {{{ifattr 'disabled' disabled }}}
      {{{ifattr 'readonly' readonly }}}
      {{{ifattr 'required' required }}}></textarea>
    {{#if required }}
      <i class="required">{{ required }}</i>
    {{/if}}
    {{#if helpText }}
      {{> '@help-block' }}
    {{/if}}
  </div>
</div>
