import { Component, ComponentInterface, h } from "@stencil/core";

// import {  } from "./{{ kebabCase name }}.interfaces";
// import { translations } from "./{{ kebabCase name }}.i18n";

@Component({
  tag: "dso-{{ kebabCase name }}",
  styleUrl: "{{ kebabCase name }}.scss",
  shadow: true,
})
export class {{ pascalCase name }} implements ComponentInterface {
  render() {
    return (
      <div>{{ name }}</div>
    );
  }
}
