<div class="form-group dso-input dso-{{ inputType }}">
  <div class="dso-label-container">
    <label for="{{ id }}" class="control-label">
      {{ label }}
      {{#unless required }}
        <span class="dso-optional">optioneel</span>
      {{/unless}}
    </label>
  </div>
  <div class="dso-field-container{{#if inputIcon}} has-feedback{{/if}}">
    <input type="{{ inputType }}" id="{{ id }}" class="form-control"
      {{{ifattr 'aria-describedby' helpText (helpTextId id)}}}
      {{{ifattr 'size' size }}}
      {{{ifattr 'disabled' disabled }}}
      {{{ifattr 'readonly' readonly }}}
      {{{ifattr 'required' required }}} />
    {{#if inputIcon }}
      <span class="{{ inputIcon }} form-control-feedback" aria-hidden="true"></span>
    {{/if}}
    {{#if errorText }}
      <p class="dso-message">{{ errorText }}</p>
    {{/if}}
    {{#if helpText }}
      {{> '@help-block' }}
    {{/if}}
  </div>
</div>
