<ul class="dso-conclusion">
  {{#each items }}
    <li class="dso-{{ modifier }}">
      {{{ label }}}
      {{#if info }}
        {{render '@info-button' info merge=true }}
      {{/if}}

      {{#if subItems }}
        <ul>
          {{#each subItems }}
            <li>{{{ this }}}</li>
          {{/each}}
        </ul>
      {{/if}}

      {{#if info }}
        {{render '@info' info merge=true }}
      {{/if}}
    </li>
  {{/each}}
</ul>
{{#if alert}}
  {{render '@alert' alert merge=true }}
{{/if}}
