<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="{{ value.min }}" aria-valuemax="{{ value.max }}" style="width: {{ progress }}%;">
    <span class="sr-only">{{ progress }}% compleet</span>
  </div>
</div>
