<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="utf-8">

    <title>{{ _target.label }} | {{ _config.project.title }} - Component preview</title>

    <link rel="stylesheet" href="{{path '/styles/dso.css' }}" />
  </head>

  <body>
    {{{ yield }}}

  <!-- Polyfill for svg use[href] with external uri -->
    <script src="{{path '/svg4everybody.min.js' }}"></script>
    <script>svg4everybody();</script>
  </body>

</html>
