{{> '@header' }}

<main>
  <h1>Checken</h1>
  <div class="row">
    <div class="col-md-9">
      {{> '@wizard' wizard }}

      <h2>Werkzaamheden checken</h2>
      <h3>Bouwen van een dakkapel</h3>

      {{render '@dso-select' }}
      {{render '@streamer' }}
      {{render '@highlight-box' }}
    </div>
    <div class="col-md-3">
      {{#progressBlock }}
        <h2>Tussenresultaten</h2>
        <ul class="list-unstyled">
          {{#each checkSideListItems }}
            <li>
              {{ this }}
            </li>
          {{/each}}
        </ul>
      {{/progressBlock}}
    </div>
  </div>
</main>

{{render '@footer' }}