<h2>Mijn activiteiten</h2>

<div class="dso-shopping-cart">
  <div class="dso-contents">
    {{#if items }}
      {{#if toggleButton ~}}
        <button type="button" class="dso-status">
          {{~#if open ~}}
            {{~> '@icon' icon='chevron-up'~}}
          {{~else~}}
            {{~> '@icon' icon='chevron-down'~}}
          {{~/if~}}U heeft {{countActivities items }} activiteit{{#if (gt (countActivities items) 1) }}en{{/if}} gekozen
        </button>
      {{/if}}
      {{#if open }}
        <ul class="dso-items">
          {{#each items }}
            <li>
              {{#if (hasWarning activities)}}{{> '@icon' icon='status-warning' }}{{/if}}
              {{ label }}
              {{#if edit}}<a href="#" class="dso-edit-cart-item">{{edit}}</a>{{/if}}
              <button type="button" class="dso-delete" title="Verwijder">
                {{> '@icon' icon='trash' }}
              </button>
              {{#if hasActivities}}
                <ul class="dso-activities">
                  {{#each activities }}
                    <li>
                      {{#if warning }}{{> '@icon' icon='status-warning' }}{{/if}}
                      {{ label }}
                      <button type="button" class="dso-delete" title="Verwijder">
                        {{> '@icon' icon='trash' }}
                      </button>
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    {{else}}
      <p class="dso-empty">U heeft nog geen activiteiten gekozen</p>
    {{/if}}
  </div>

  {{#if (and items (hasWarning items) open)}}
    <p class="dso-warning">
      <strong>Let op:</strong> Voor de werkzaamheden met een {{> '@icon' icon='status-warning' }} zijn geen maatregelen opgenomen in dit overzicht met maatregelen. Dit betekent niet dat er geen voorschriften en maatregelen van toepassing zijn.
    </p>
  {{/if}}
</div>
