<h2>Mijn activiteiten</h2>

<div class="dso-shopping-cart">
  <div class="dso-contents">
    {{#if items }}
      {{#unless hideSummary}}
      <button type="button" class="dso-status">
        {{~#unless collapsed ~}}
          {{~> '@icon' icon='chevron-up'~}}
        {{~else~}}
          {{~> '@icon' icon='chevron-down'~}}
        {{~/unless~}}
        U heeft {{countSubitems items }} activiteit{{#if (gt (countSubitems items) 1) }}en{{/if}} gekozen
      </button>
      {{/unless}}
      {{#unless collapsed }}
        <ul class="dso-items">
          {{#each items }}
            <li>
              {{#if (hasWarning subitems)}}{{> '@icon' icon='status-warning' }}{{/if}}
              {{ label }}{{#if (and (not readonly) (not edit1) (not edit2) additive)}}
                <span class="dso-additive">{{ additive }}</span>
              {{~/if}}
              {{#unless readonly}}
                {{#if edit1}}
                  <input type="text" class="dso-edit-name" value="{{ additive }}" />
                {{/if}}

                {{#if edit2}}
                  <form>
                    <div class="input-group">
                      <label for="form_voorbeeld" class="input-group-addon">Toevoeging</label>
                      <input type="text" id="form_voorbeeld" class="form-control" value="{{ additive }}">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Ok</button>
                      </span>
                    </div>
                  </form>
                {{/if}}

                {{#if (and (not edit1) (not edit2))}}
                  <button type="button" class="btn-link dso-edit-cart-item">Naam bewerken</button>
                {{/if}}
              {{/unless}}
              {{#unless (or edit1 edit2)}}
                <button type="button" class="dso-delete" title="Verwijder">
                  {{> '@icon' icon='trash' }}
                </button>
              {{/unless}}
              {{#if subitems.length }}
                <ul class="dso-subitems">
                  {{#each subitems }}
                    <li>
                      {{#if warning }}{{> '@icon' icon='status-warning' }}{{/if}}
                      {{ label }}
                      <button type="button" class="dso-delete" title="Verwijder">
                        {{> '@icon' icon='trash' }}
                      </button>
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      {{/unless}}
    {{else}}
      <p class="dso-empty">U heeft nog geen activiteiten gekozen</p>
    {{/if}}
  </div>

  {{#if (and items (hasWarning items) open)}}
    <p class="dso-warning">
      <strong>Let op:</strong> Voor de werkzaamheden met een {{> '@icon' icon='status-warning' }} zijn geen maatregelen opgenomen in dit overzicht met maatregelen. Dit betekent niet dat er geen voorschriften en maatregelen van toepassing zijn.
    </p>
  {{/if}}
</div>
