<h2>Mijn activiteiten</h2>

<div class="dso-shopping-cart">
  <div class="dso-contents">
    {{#if items }}
      {{#unless hideSummary}}
      <button type="button" class="dso-status">
        {{~#unless collapsed ~}}
          {{~> '@icon' icon='chevron-up'~}}
        {{~else~}}
          {{~> '@icon' icon='chevron-down'~}}
        {{~/unless~}}
        U heeft {{countSubitems items }} activiteit{{#if (gt (countSubitems items) 1) }}en{{/if}} gekozen
      </button>
      {{/unless}}
      {{#unless collapsed }}
        <ul class="dso-items">
          {{#each items }}
            <li>
              {{#if (hasWarning subitems)}}{{> '@icon' icon='status-warning' }}<span class="sr-only">waarschuwing</span>{{/if}}
              {{ label }}{{#if (and (not readonly) (not edit) additive)}}
                <span class="dso-additive">{{ additive }}</span>
              {{~/if}}
              {{#unless readonly}}
                {{#if edit}}
                  <div class="dso-edit-additive">
                    <label for="additive-{{ ../_self.name }}-{{ @index }}">Bewerk toevoeging</label>
                    <input type="text" class="dso-edit-name" id="additive-{{ ../_self.name }}-{{ @index }}" value="{{ additive }}" />
                  </div>
                {{/if}}

                {{#if (not edit)}}
                  <button type="button" class="btn-link dso-edit-cart-item">Naam bewerken</button>
                {{/if}}
              {{/unless}}
              {{#unless edit}}
                <button type="button" class="dso-delete" title="Verwijder">
                  {{> '@icon' icon='trash' }}
                </button>
              {{/unless}}
              {{#if subitems.length }}
                <ul class="dso-subitems">
                  {{#each subitems }}
                    <li>
                      {{#if warning }}{{> '@icon' icon='status-warning' }}<span class="sr-only">waarschuwing</span>{{/if}}
                      {{ label }}
                      <button type="button" class="dso-delete" title="Verwijder">
                        {{> '@icon' icon='trash' }}
                      </button>
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      {{/unless}}
    {{else}}
      <p class="dso-empty">U heeft nog geen activiteiten gekozen</p>
    {{/if}}
  </div>

  {{#if (and items (hasWarning items) open)}}
    <p class="dso-warning">
      <strong>Let op:</strong> Voor de werkzaamheden met een {{> '@icon' icon='status-warning' }} zijn geen maatregelen opgenomen in dit overzicht met maatregelen. Dit betekent niet dat er geen voorschriften en maatregelen van toepassing zijn.
    </p>
  {{/if}}
</div>
