<div class="form-group has-feedback searchbar {{ searchbarModifiers }}">
  <input type="text" id="{{ id }}" class="form-control" placeholder="{{ label }}" />
  <span class="form-control-feedback" aria-hidden="true"></span>
  <label for="{{ id }}">{{ label }}</label>
</div>
