<form class="dso-search">
  <div class="dso-searchbar{{#if open }} dso-open{{/if}}">
    <input type="text" id="{{ id }}" class="form-control" placeholder="{{ label }}" />
    <span class="dso-searchbar-icon" aria-hidden="true"></span>
    <label for="{{ id }}">{{ label }}</label>
    <button type="button">Open zoeken</button>
  </div>
  <button type="submit">{{ label }}</button>
</form>
