<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="utf-8">

    <title>{{ _target.label }} | {{ _config.project.title }} - Component preview</title>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <link rel="stylesheet" href="{{path '/styles/dso.css' }}" />
  </head>

  <body>
    <div class="container">
      {{{ yield }}}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="{{path '/scripts/dso.js' }}"></script>
  </body>

</html>
