<div class="row">
  <div class="col-lg-2 col-md-4 col-xs-6">
    {{render '@whitebox-small' }}
  </div>
  <div class="col-lg-2 col-md-4 col-xs-6">
    {{render '@whitebox-small' }}
  </div>
  <div class="col-lg-2 col-md-4 col-xs-6">
    {{render '@whitebox-small' }}
  </div>
  <div class="col-lg-2 col-md-4 col-xs-6">
    {{render '@whitebox-small' }}
  </div>
  <div class="col-lg-2 col-md-4 col-xs-6">
    {{render '@whitebox-small' }}
  </div>
  <div class="col-lg-2 col-md-4 col-xs-6">
    {{render '@whitebox-small' }}
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12 ">
    {{render '@whitebox-regular' }}
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 ">
    {{render '@whitebox-regular' }}
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 ">
    {{render '@whitebox-regular' }}
  </div>
</div>

<div class="row">
  {{#each columns }}
    <div class="{{ modifier }}">
      {{render '@whitebox-regular' whitebox merge=true }}
    </div>
  {{/each}}
</div>
