<div class="dso-whitebox{{#if (or count (and icon label)) }} dso-has-counter{{/if}}">
  {{#if (or count (and icon label)) }}
    <div class="dso-whitebox-counter">
      {{#if (and icon label) }}
        {{> '@icon' }}
        <span class="sr-only">{{ label }}</span>
      {{else}}
        {{ count }}
      {{/if}}
    </div>
  {{/if}}
  <div class="dso-whitebox-title">
    <h2>{{ title }}</h2>
  </div>
  <div class="dso-whitebox-link">
    <a class="btn btn-link" href="#">
      <span class="icon fa fa-angle-right"></span>
      {{ linktext }}
    </a>
  </div>
  <div class="dso-whitebox-icon">
    <img src="{{path '/dummy/images/indienen.png' }}" alt="Indienen" />
  </div>
  <div class="dso-rich-content">
    <p>{{ description }}</p>
  </div>
</div>
