  <div class="dso-whitebox{{#if small }}-small{{/if}}">
    {{#if small}}
      <a href="/aanvragen">
        <span class="dso-function-icon">
          <img id="image-right" src="https://pre-dso.iprox.nl/cmis/asset/site-14/item-434-v42/indienen.png">
        </span>
        <span class="dso-function-link">
          {{ linktext }}
        </span>
      </a>
    {{ else }}
      <div class="dso-function-title">
        <h2>{{ title }}</h2>
      </div>
      <div class="dso-function-link">
        <a class="btn btn-link" href="/aanvragen">
          <span aria-hidden="true" class="icon fa fa-angle-right"></span>
          {{ linktext }}
        </a>
      </div>
      <div class="dso-function-icon">
        <img id="image-right" src="https://pre-dso.iprox.nl/cmis/asset/site-14/item-434-v42/indienen.png">
      </div>
      <div class="dso-description">
        <div>
          <p>{{ description }}</p>
        </div>
      </div>
    {{/if}}
  </div>
