<dl{{{ifattr ' class' modifier }}}>
  {{#each definitions }}
    {{#if term}}
      <dt{{{ifattr ' class' hightlightElement }}}>{{ term }}</dt>
    {{/if}}
    {{#each descriptions }}
      {{#if description}}
        <dd{{{ifattr ' class' hightlightElement }}}>{{ description }}</dd>
      {{/if}}
    {{/each }}
    {{#if longread }}
      <dd>
        {{#each longread }}
          <p>{{ paragraph }}</p>
        {{/each }}
      </dd>
    {{/if }}
  {{/each}}
</dl>
