<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="utf-8">

    <title>{{ _target.label }} | {{ _config.project.title }} - Component preview</title>

    <link rel="stylesheet" href="{{path '/styles/dso.css' }}" />

    <style type="text/css">
      .icon-container {
        margin: 0 auto;
        max-width: 600px;
      }
    
      ol {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;
        background-color: #f2f2f2;
      }

      ol::after {
        content: "";
        clear: both;
        display: block;
      }

      ol, li {
        border: 5px solid #f2f2f2;
      }

      li {
        background-color: #fff;
        width: 25%;
        padding: 8px;
        text-align: center;
      }

      @media (max-width: 650px) {
        li {
          width: 33%;
        }
      }

      @media (max-width: 400px) {
        li {
          width: 50%;
        }
      }

      ol li div {
        margin-bottom: 8px;
      }

      li svg.di {
        font-size: 2.5em;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="dso-rich-content icon-container">
        <ol>
          {{{ yield }}}
        </ol>
        <p>Sommige iconen zijn van <a href="https://fontawesome.com/" target="_blank" rel="noreferrer">FontAwesome</a>.</p>
      </div>
    </div>

    <!-- Polyfill for svg use[href] with external uri -->
    <script src="{{path '/svg4everybody.min.js' }}"></script>
    <script>svg4everybody();</script>
  </body>

</html>
