<div class="form-group select{{#if multiple }} multiple{{/if}}">
  <label for="{{ id }}">
    {{ label }}
    {{#if optional }}
      <span class="optional">optioneel</span>
    {{/if}}
  </label>
  <select id="{{ id }}" class="form-control"
    {{{ifattr 'disabled' disabled }}}
    {{{ifattr 'readonly' readonly }}}
    {{{ifattr 'multiple' multiple }}}>
    {{#each options }}
      <optgroup label="{{ optionType }}"{{{ifattr ' disabled' disabled }}}>
        {{#each items }}
          <option value="{{ value }}"{{{ifattr ' selected' selected }}}>{{ label }}</option>
        {{/each}}
      </optgroup>
    {{/each}}
  </select>
  {{#if helpText }}
    {{> '@help-block' }}
  {{/if}}
</div>
