<fieldset class="form-group radios">
  <legend class="control-label">
    {{ label }}
    {{#unless required }}
      <span class="optional">optioneel</span>
    {{/unless}}
  </legend>
  {{#each options }}
    <div class="radio">
      <label>
        <input type="radio" name="{{ ../id }}" value="{{ value }}"{{{ifattr ' disabled' disabled }}}{{{ifattr ' readonly' readonly }}}{{{ifattr ' checked' checked }}} /> {{ label }}
      </label>
    </div>
  {{/each}}
  {{#if helpText }}
    {{> '@help-block' }}
  {{/if}}
</fieldset>
