<div class="--dso-select {{ type }}">
  <fieldset>
    <legend>{{ setLabel }}</legend>
      {{#each options }}
        <div class="option">
          <input type="{{ ../inputType }}" id="{{radioId ../id @index }}" name="{{ ../id }}" value="{{ value }}"{{{ifattr ' disabled' disabled }}}{{{ifattr ' readonly' readonly }}}{{{ifattr ' checked' checked }}} /> 
          <label for="{{radioId ../id @index }}">
            {{ label }}
          </label>
        </div>
      {{/each}}
  </fieldset>
</div>