<button type="{{ type }}" class="btn btn-{{ modifier }}" {{{ifattr 'disabled' disabled }}}>
  {{#if iconOnly }}
    <span class="sr-only">{{ label }}</span>
  {{else}}
    {{#if icon }}
      {{> '@icon' icon=icon }}
    {{/if}}
    <span class="btn-label">
      {{ label }}
    </span>
  {{/if}}
</button>
