<button type="{{ type }}" class="btn btn-{{ modifier }}" {{{ifattr 'disabled' disabled }}}>
  {{#if iconOnly }}
    <span class="sr-only">{{ label }}</span>
  {{else}}
    <span class="btn-label">
      {{#if icon }}
        {{> '@icon' icon=icon }}
      {{/if}}
      {{ label }}
    </span>
  {{/if}}
</button>
