<a href="{{ url }}"{{#if iconOnly }} title="{{ label }}"{{/if}} {{{ifattr 'class' modifier }}} {{{ifattr 'target' modifier 'extern' '_blank' }}}>
  {{~#if (and icon (not iconOnly)) }}{{> '@icon' icon=icon }}{{#if (not (in (or modifier '') 'btn'))}} {{/if}}{{/if}}<span{{#if iconOnly }} class="sr-only"{{/if}}>{{ label }}</span>{{#if (or iconAfter iconOnly) }}{{#if (not (in (or modifier '') 'btn'))}} {{/if}}{{> '@icon' icon=(or iconAfter icon) }}{{/if}}
  {{#if badge }}
    {{~> '@badge' badge }}
  {{~/if}}
</a>
